<p class="section-name">{{section.name}}</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let x of section.collumnsCount| times">{{ x }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let y of section.rowsCount| chars">
      <th scope="row">{{ y }}</th>
      <td *ngFor="let x of section.tickets;  index as iy">

        <div *ngIf=" iy < section.collumnsCount ">
           {{x.seatCode}}
          <div *ngIf="x.isSold ==false ;else noMoment">

            <div class="ticket-seat-available">
              <img class="ticket-seat" src="../../../assets/filled-car-seat.png" alt="car-seat">
            </div>

          </div>

          <ng-template #noMoment>
            <div class="ticket-seat-unavailable">
              <img class="ticket-seat" src="../../../assets/filled-car-seat.png" alt="car-seat">
            </div>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
