<p class="section-name">{{section.name.toUpperCase()}}</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let x of section.collumnsCount| times" class="collumn-name" >{{ x }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of this.rows;index as i">
      <th class="row-name" scope="row">{{this.chars[i].toLocaleUpperCase()}}</th>
      <td *ngFor="let ticket of row;  index as iy">

        <p class="seat-name">{{ticket.seatCode}}</p>
        <div *ngIf="ticket.isSold ==false ;else ticketUnavailable">
          <div class="ticket-seat-available ticket-seat-container" #ticketDiv (click)="saveTicket(ticketDiv)"  (click)="addToCart(ticket)">
            <img class="ticket-seat-image" src="../../../assets/filled-car-seat.png" alt="car-seat">
          </div>
        </div>

        <ng-template #ticketUnavailable>
          <div class="ticket-seat-unavailable ticket-seat-container">
            <img class="ticket-seat-image" src="../../../assets/filled-car-seat.png" alt="car-seat">
          </div>
        </ng-template>

      </td>
    </tr>
  </tbody>
</table>
